<div class="header">
  <div class="links">
    <div class="title"></div>
    <div class="links-cobtainer">
      <ul class="links-lists">
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
  <div class="cart">
    <div class="cart-icon">
      <p>icon</p>
    </div>
    <div class="profile">
      <img src="/assets/images/image-avatar.png" alt="">
    </div>
  </div>
</div>
<div class="container-main">
  <div class="image-container">
    <div class="main image">
      <img src="/assets/images/image-product-1.jpg" alt="">
    </div>
    <div class="sub-images" *ngFor="let img of imagePaths">
      <div class="image">
        <img src={{img}} alt="">
      </div>
    </div>
  </div>
  <div class="content-container">
    <p class="subP1">Sneaker Company</p>
    <p class="mainP">Fall Limited Edition Sneaker</p>
    <p class="sub2">
      These low profile sneakers are your perfect casual wear companion. Featuring a durable rubber sole, they'll withstand 
      everything the weather can offer.
    </p>
    <div class="cart-info">
      <div class="total"></div>
      <div class="count"></div>
      <div class="add"></div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
